#account {
    background-color: #6d071a;
    color: gold;
}

#iconBtn {
    color: gold;
}

h4 {
    color: #6d071a;
}

.listeText{
    color: #6d071a;
    font-size: large;
    justify-content: flex-start;  
    padding: 20px;
    font-weight: bold;
}

#nav {
    border-bottom: 3px solid #6d071a;
    background-color: #F8F5CA;
}

#footer {
    background-color: #6d071a;
}

#logo {
    width: 100px;
    height: 100px;
}

.footerLetter {
    color: gold;
}

#new_user {
    cursor: pointer;
}

#lastCreation {
    text-align: center;
    color: #6d071a;
}

.colorBtn{
    background-color: #6d071a;
}

.libre{
    background-color: #721f2e;
}

.complet{
    background-color: red;
}

img {
    width: 75%;
    height: 500px;
    margin: auto;
}

.carousel-inner {
   margin: auto;
}

#carouselExampleIndicators {
    background-color: #F8F5CA;
}

.carousel-control-next-icon  {
    background-color: #6d071a;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    background-color: #6d071a;
    border-radius: 50%; 
}

#atelier {
    text-align: center;
    color: #6d071a; 
}

.atelier {
    border: 1px solid #6d071a;
    border-radius: 10px 100px / 120px;
    text-align: center;
    color: #6d071a;
}

.listeCreation {
margin-top: 100px;
}

.btnAtelier{
    float: right;
}

.atelierComplet{
    color: red;
}