
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/********** fin reset ************/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    padding-top: 7rem;
    color: rgb(53, 53, 53);
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.mb-2 {
    margin-bottom: 2rem;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}

/****** HEADER ******/

header {
    background-color: white;
    margin-bottom: 2rem;
    box-shadow: 0.2rem 0.2rem 0.3rem rgb(180, 180, 180);
    /* positionnement */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-container {
    padding: 0.5rem;
}

.nav-container img {
    width: 7%;
}

nav {
    padding-top: 0.9rem;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: rgb(53, 53, 53);
    text-decoration: none;
    margin: 0 0.8rem;
    padding-bottom: 0.2rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

nav ul li a:hover {
    border-bottom: 0.3rem solid rgb(53, 53, 53);;
}

main {
    max-width : 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

#presentation {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 6rem 11rem;
    background-image: url("../img/Comic-Books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    text-align: center;
}

.container-presentation {
    background-color: rgb(255, 255, 255, 0.8);
    font-family: 'Oswald', sans-serif;
    padding: 2rem;
    margin: 1rem 0rem;
}

.container-presentation h1 {
    margin: 0;
}

.container-presentation p {
    margin: 0;
    font-size: 2rem;
}

.link {
    color: rgb(53, 53, 53);
    text-decoration: none;
    border: 0.2rem solid rgb(53, 53, 53);
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-top: 2rem;
    font-weight: bold;
}

.link:hover {
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
}

/* NOS HEROS */

#heros {
    text-align: center;
}

#heros p {
    margin-bottom: 1.5rem;
}

#heros .heros img {
    width: 50%;
}

.heros {
    margin-bottom: 3rem;
}

.col {
    flex-basis: 30%;
}

/* VILAINS */

.vilains {
    margin-bottom: 3rem;
}

.slider-container {
    justify-content: center;
}

.slider {
    max-width:100%
}

.slide {
    display: none;
}

.slide img {
  width: 20rem;
}

.active {
    display: block;
    
}

.btn img {
    width: 45%;
}

.btn {
    width: 4.5rem;
    border: none;
    background: none;
}

.btn:focus {
    border: none;
}

/* CONTACT */

#contact h2 {
    margin-bottom: 1rem;
    text-align: center;
}

#contact .container-contact-elem .item {
    margin-bottom: 1rem;
}

#contact label, #contact p {
    margin-bottom: 0.5rem;
}

.container-contact-elem {
    padding: 0rem 2rem;
}

.promise {
    font-size: 0.8rem;
}
.form-item {
    margin-bottom: 0.8rem;
}

input[type="submit"] {
    border: 0.2rem solid rgb(53, 53, 53);
    border-radius: 0.3rem;
    color: rgb(53, 53, 53);
    background-color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem;
}

table {
    border: 0.2rem solid rgb(75, 75, 75);
    text-align: center;
    margin: 0 auto;
}

table thead th {
    border-bottom: 0.2rem solid rgb(75, 75, 75);
    padding: 0.2rem;
}

table td {
    padding: 0.2rem;
}

/* FOOTER */
footer .socialmedia ul li {
    display: inline-block;
}

footer {
    background-color: white;
    padding: 1rem 0rem;
}

footer i {
    color:  rgb(70, 70, 70);
    font-size: 1.5rem;
    padding: 0 0.2rem;
}