.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    background-color:dodgerblue;
    border-radius: 25px;
    padding:1vh;
}

a:hover{
    background-color:lightblue;
    color:floralwhite;
    border: goldenrod dotted 10px;
    
}

h1{
    font-size: 6vw;
    text-decoration: underline overline gold ;
}

h3{
    font-size: 3.1vw;
}

body{
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: dodgerblue;
}

p{
    font-size: 2.2rem;
}

img{
    margin:1vw;
    border: double goldenrod;
}

header{
    border: double floralwhite;
    background-color: gainsboro;

}

nav{
    
    position: sticky;
}

nav>ul{
    justify-content: space-around;
    list-style: none;
    font-size: 2vw;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: gainsboro;
    
}

section{
    margin: 2vw;
    margin-bottom: 3vw;
}

article{
    margin:2vw;
}

aside{
    float: right;
}

#songs{
display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#songs>li{
    margin: 1.5vh;
    list-style: none;
}

footer{
    border: double floralwhite;
    margin-top: 2vh;
    background-color: gainsboro;
}